    <div class='boxIndex lastIndex__first' style="background-size: cover; background-image: url({{ vich_uploader_asset(article,'imageFile') }});">
        <div class="lastIndex__first__boxtitle">
            <div class="lastIndex__first__title"> {{ article.title }} </div>
            <div class="barIndex__Top"></div>
            <div class="lastIndex__first__tagline"> {{ article.tagline|striptags|u.truncate(50) ~ '…'}} </div>
            <div class="barIndex__Bottom"></div>
            <div class="lastIndex__first__createdAt">Published {{ article.createdAt|date('Y-m-d') }} - {{ article.country|country_name }} </div>
        </div>
        <span class="flag-icon flag-icon-background flag-icon-{{ article.country|lower }}"></span>
    </div>
